<div class="cq-placeholder cmp-title" data-emptytext="${component.title}:Click to configure" data-sly-unwrap="${!wcmmode.edit}"></div>

<sly data-sly-use.model="com.adobe.aem.guides.wknd.core.models.HTLSightly">

    <h1>==== data-sly-include =====</h1>
    <div class="include1" data-sly-include="include1.html">include1 content</div>
    <div data-sly-include="${'include/include2.html'}"></div>
    <div data-sly-include="${'include2.html' @ prependPath='include'}"></div>
    <div data-sly-include="${'include' @ appendPath='include2.html'}"></div>
    <div data-sly-include="${@ file='include3.html'}"></div>
    <div data-sly-include="${'include3.html' @ prependPath='/prependPath', appendPath='/appendPath'}"></div>

    <h1>==== data-sly-resource =====</h1>
    <div data-sly-resource="${'/content/wknd/us/en/steven'}"></div>
    <div data-sly-resource="${'/content/wknd/us/en/steven/jcr:content/root/container/translate'}"></div>
    <div data-sly-resource="${'translate' @ resourceType='wknd/components/translate'}"></div>
</sly>